#cabecera {
            margin-top: 0px;
            height: 200px;
            background-image: url(styles/icon.png);
            background-repeat: no-repeat;
            background-position: center;
            background-color: #FFFFFF;
            -webkit-box-shadow: 10px 10px 7px 0px rgba(8, 7, 8, 0.85);
            -moz-box-shadow: 10px 10px 7px 0px rgba(8, 7, 8, 0.85);
            box-shadow: 10px 10px 7px 0px rgba(8, 7, 8, 0.85);
        }


        
        h2 {
            text-align: center;
        }
        
        html,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Roboto", sans-serif
        }
    }
#control{
            height: 200px;
            background-image: url(styles/);
            background-repeat: no-repeat;
            background-position: center;
            background-color: #FFFFFF;
            -webkit-box-shadow: 10px 10px 7px 0px rgba(8, 7, 8, 0.85);
            -moz-box-shadow: 10px 10px 7px 0px rgba(8, 7, 8, 0.85);
            box-shadow: 10px 10px 7px 0px rgba(8, 7, 8, 0.85);
            
}
#enviarTicket{-webkit-box-shadow: 10px 10px 7px 0px rgba(8, 7, 8, 0.85);
            -moz-box-shadow: 10px 10px 7px 0px rgba(8, 7, 8, 0.85);
            box-shadow: 10px 10px 7px 0px rgba(8, 7, 8, 0.85);}
#scanButton{-webkit-box-shadow: 10px 10px 7px 0px rgba(8, 7, 8, 0.85);
            -moz-box-shadow: 10px 10px 7px 0px rgba(8, 7, 8, 0.85);
            box-shadow: 10px 10px 7px 0px rgba(8, 7, 8, 0.85);}
#abrir{margin-top:100px;
    -webkit-box-shadow: 10px 10px 7px 0px rgba(8, 7, 8, 0.85);
            -moz-box-shadow: 10px 10px 7px 0px rgba(8, 7, 8, 0.85);
            box-shadow: 10px 10px 7px 0px rgba(8, 7, 8, 0.85);}